torch>=2.2.0
torchvision>=0.17.0
tensorflow>=2.15.0

opencv-python>=4.8.0
facenet-pytorch

sentence-transformers

numpy>=1.24.0
pandas
scikit-learn

fastapi
uvicorn[standard]
python-multipart
jinja2
aiofiles

python-dotenv