OPTIVOX_SECRET_KEY=JOHN
OPTIVOX_DEBUG=1
OPTIVOX_ENABLE_BRIDGE=1
OPTIVOX_SYNTHETIC=1
OPTIVOX_DB=../security.db
OPTIVOX_VISION_MODULE=optivox_core
OPTIVOX_CAMERA=0
OPTIVOX_CAMERA_ID=cam_0
OPTIVOX_CAMERA_LOCATION=Main Entrance
OPENAI_API_KEY=
